// init
.j-fade { animation: jFade 4s linear infinite; }
.j-fade-2 { animation: jFade2 4s linear infinite; }



// keyframes
@keyframes jFade {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 20px);
  }
  50% {
    opacity: .3;
    transform: translate(10px, 20px);
  }
  75% {
    transform: translate(10px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes jFade2 {
  0% {
    opacity: .3;
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -20px);
  }
  50% {
    opacity: 1;
    transform: translate(10px, 20px);
  }
  75% {
    transform: translate(-10px, 20px);
  }
  100% {
    opacity: .3;
    transform: translate(0, 0);
  }
}
