.j-footer {
  position: relative;
  margin-top: 90px;
  background-image: url('../../assets/img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 3;
}
.j-footer-inner {
  position: relative;
  padding-top: 39%;
  padding-right: 13.4%;
  padding-bottom: 25px;
  padding-left: 13.4%;
  z-index: 3;
}
.j-footer-koleksi {
  position: absolute;
  top: -55px;
  right: 13.4%;
  width: 45%;
}
.j-footer-produk {
  position: absolute;
  top: -90px;
  left: 13.4%;
  width: 73.2%;
}
.j-footer-copy small {
  display: block;
  color: $white;
}
.j-footer-copy small:first-child {
  font-family: FSJoeyBold;
  font-size: 16px;
}
.j-footer-copy small:last-child {
  font-family: Titillium;
  font-size: 12px;
}
