.j-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.j-header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
  padding-right: 7.1%;
  padding-left: 7.1%;
  background-color: $blue;
}
.j-header-menu {
  width: 100%;
}
.j-header-menu-inner {
  display: flex;
  justify-content: space-between;
}
.j-header-menu-item:not(.j-header-logo) {
  display: block;
  min-width: 160px;
  padding: 10px 5px;
  border-radius: 5px;
  font-family: TitilliumBold;
  text-align: center;
  font-size: 16px;
  color: $white !important;
  transition: $trans;
}
.j-header-menu-item:not(.j-header-logo):hover,
.j-header-menu-item:not(.j-header-logo).active {
  background-color: $yellow;
  color: $blue !important;
}
.j-header-menu-item.j-header-logo {
  position: relative;
  width: 20%;
}
.j-header-logo img {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.j-header-seru {
  position: absolute;
  top: 100%;
  left: 0;
  width: 28%;
  margin-top: -1px;
  margin-left: -15px;
  z-index: 3;
}
