.j-image-robot {
  position: absolute;
  top: 0;
  left: 4%;
  width: 29%;
  max-width: 395px;
}

.j-image-kids {
  position: absolute;
  top: 2%;
  right: 7%;
  width: 21%;
  max-width: 285px;
  z-index: 5;
}
