.j-panel-head {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.j-panel-head.blue {
  margin-bottom: 50px;
}
.j-panel-head-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  min-width: 215px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  background-color: $blue;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: FSJoeyBold;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  transition: $trans;
}
.j-panel-head.blue .j-panel-head-button {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.j-panel-head-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: -10%;
  height: 1px;
  width: 120%;
  background-color: $yellow;
}
.j-panel-head.blue .j-panel-head-button::after {
  display: none;
}
.j-panel-head-button:hover,
.j-panel-head-button.active {
  background-color: $yellow;
  color: $blue;
}
.j-panel-head.blue .j-panel-head-button:hover,
.j-panel-head.blue .j-panel-head-button.active {
  background-color: $blue2;
  color: $white;
}
.j-panel-body-item { display: none; }
.j-panel-body-item.active { display: block; }
