[j-direction="modal-show"] {
  cursor: pointer;
}
.j-popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1200;
  background-color: rgba(163, 56, 224, 0.55);
  opacity: 0;
  transition: all .5s ease-in-out;
}
.j-popup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 75%;
  max-height: 75%;
  border-radius: 10px;
  border: 10px solid $blue2;
  box-shadow: 0 0 10px #888;
}
.j-popup-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45px;
  right: -45px;
  height: 35px;
  width: 35px;
  z-index: 3;
  background-color: $red;
  border-radius: 100%;
  font-size: 30px;
  color: $white;
  font-weight: 900;
  line-height: 0;
}
.j-popup-box-place {
  height: 100%;
  width: 100%;
}
.j-popup-box iframe,
.j-popup-box frame,
.j-popup-box img {
  max-width: 100%;
  max-height: 100%;
}
