.test {
  margin-top: 400px;
  background-color: white;
  height: 10px;
}
.j-body-bg {
  background-color: $blue;
  background-image: url('../../assets/img/bg-body.jpg');
  background-position: center top;
  background-size: 100% auto;
}
