[j-slider="type-1"] {
  position: relative;
}

.j-slider-arrow {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  z-index: 5;
  cursor: pointer;
}
.j-slider-arrow.j-right {
  right: -80px;
}
.j-slider-arrow.j-left {
  left: -80px;
}
.j-slider-arrow.j-right.j-half-circle {
  display: flex;
  align-items: center;
  right: -13%;
  height: 30px * 2;
  width: 30px;
  padding-right: 2.5px;
  background-color: $yellow;
  border-bottom-right-radius: 30px * 2;
  border-top-right-radius: 30px * 2;
}
.j-slider-arrow.j-left.j-half-circle {
  display: flex;
  align-items: center;
  left: -13%;
  height: 30px * 2;
  width: 30px;
  padding-left: 2.5px;
  background-color: $yellow;
  border-bottom-left-radius: 30px * 2;
  border-top-left-radius: 30px * 2;
}

.slick-dots {
  bottom: -40px !important;
}
.slick-dots li {
  height: 15px !important;
  width: 15px !important;
  margin-right: 7.5px !important;
  margin-left: 7.5px !important;
  background-color: $blue;
  border-radius: 100%;
}
.slick-dots li.slick-active {
  background-color: $yellow;
}
