.j-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  text-align: center;
  font-family: FSJoeyBold;
  color: $white;
  font-size: 18px;
}
.j-table > tr > th:nth-child(1) {
  width: 20%;
}
.j-table > tr > th:nth-child(2) {
  width: 50%;
}
.j-table > tr > th:nth-child(2) {
  width: 30%;
}
.j-table > tbody tr {
  margin-bottom: 15px;
  background-color: rgba(0, 20, 53, 0.6);
  border-radius: 5px;
}
.j-table > tbody td {
  padding: 20px 10px;
}
.j-table > tbody td:nth-child(1) {
  background-color: rgba(0, 20, 53, 0.6);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.j-table > tbody td:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
