.j-tooltip { position: relative; }
.j-tooltip-descr {
  // display: none;
  position: absolute;
  top: 100%;
  left: -50px;
  width: 235px;
  padding: 20px 30px 20px 20px;
  z-index: 1;
  background-color: $yellow2;
  border-radius: 5px;
}
.j-tooltip-descr::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 53px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $yellow2;
  border-left: 10px solid transparent;
}
.j-tooltip-descr-close {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1;
  font-size: 26px;
  color: $red;
  cursor: pointer;
}
.j-tooltip-descr-item {
  font-family: Titillium;
  text-align: left;
  font-size: 14px;
}
.j-tooltip-descr-item a { color: $red !important; }
