<!-- footer -->
<footer id="j-footer" class="j-footer">
  <div class="j-footer-inner text-center">
    <!-- koleksi -->
    <div class="j-footer-koleksi">
      <img src="../../../assets/img/footer-koleksi.png" class="width-full">
    </div>

    <!-- produk -->
    <div class="j-footer-produk mb-15">
      <img src="../../../assets/img/footer-produk.png" class="width-full">
    </div>

    <!-- indofood -->
    <div class="j-footer-logo mb-15">
      <img src="../../../assets/img/logo-indofood.png">
    </div>

    <!-- copy -->
    <div class="j-footer-copy">
      <small>www.indomilktobotgalaxy.com</small>
      <small>&copy; 2020.YOUNG TOYS,INC. All Right Reserved</small>
    </div>
  </div>

  <!-- to top -->
  {% include './to-top.twig' %}
</footer>

<!-- box modal -->
{% include './popup.twig' %}
