<header id="j-header" class="j-header">
  <div class="j-header-inner">
    <!-- navicon: mobile -->

    <!-- menu | logo -->
    <div class="j-header-menu">
      <div class="j-header-menu-inner">
        <a class="j-header-menu-item" href="/">HOMEPAGE</a>
        <a class="j-header-menu-item" href="gallery.html">GALLERY</a>
        <a class="j-header-menu-item j-header-logo" href="/">
          <img src="../../../assets/img/logo.png" alt="Logo">
        </a>
        <a class="j-header-menu-item" href="pemenang.html">PEMENANG</a>
        <a class="j-header-menu-item" href="syarat.html">SYARAT & KETENTUAN</a>
      </div>
    </div>

    <!-- sticker -->
    <div class="j-header-seru">
      <img src="../../../assets/img/seru.png" class="width-full" alt="Seru">
    </div>
  </div>
</header>
