<!-- robot -->
<div class="j-image-robot">
  <img src="../../../assets/img/robot.png" class="width-full">
</div>

<!-- kids -->
<div class="j-image-kids">
  <img src="../../../assets/img/kids.png" class="width-full">
</div>
