<!-- box modal: show video | image -->
<div class="j-popup" j-place-id="modal-show">
  <div class="j-popup-box">
    <!-- button: close -->
    <a class="j-popup-close" j-direction="modal-show-close" j-target-id="modal-show">
      &times;
    </a>

    <!-- content -->
    <div class="j-popup-box-place"></div>
  </div>
</div>
