{% extends '../layouts/default.twig' %}
{% set head_title = 'Gallery' %}
{% set body_class = 'j-body-bg' %}

{% block page %}
  <!-- header -->
  {% include '../components/layouts/header.twig' %}

  <!-- body -->
  <div id="j-body" class="j-body">
    {% include '../components/gallery/gallery.twig' %}
  </div>

  <!-- footer -->
  {% include '../components/layouts/footer.twig' %}
{% endblock %}