{% extends '../layouts/default.twig' %}
{% set head_title = 'Homepage' %}
{% set body_class = 'j-body-bg' %}

{% block page %}
  <!-- header -->
  {% include '../components/layouts/header.twig' %}

  <!-- body -->
  <div id="j-body" class="j-body">
    <!-- section: koleksi -->
    {% include '../components/homepage/koleksi.twig' %}

    <!-- section: pemenang -->
    {% include '../components/homepage/pemenang.twig' %}

    <!-- section: fitur -->
    {% include '../components/homepage/fitur.twig' %}

    <!-- section: download -->
    {% include '../components/homepage/download.twig' %}
  </div>

  <!-- footer -->
  {% include '../components/layouts/footer.twig' %}
{% endblock %}