@font-face {
	font-family: Titillium;
	src: url('../../assets/fonts/Titillium-Regular.otf');
}
@font-face {
	font-family: TitilliumBold;
	src: url('../../assets/fonts/Titillium-Bold.otf');
}
@font-face {
	font-family: DIN;
	src: url('../../assets/fonts/DINBlack.ttf');
}
@font-face {
	font-family: DINBold;
	src: url('../../assets/fonts/FF_DIN_Pro_Bold.otf');
}
@font-face {
	font-family: DINBoldItalic;
	src: url('../../assets/fonts/FF_DIN_Pro_Bold_Italic.otf');
}
@font-face {
	font-family: FSJoeyBold;
	src: url('../../assets/fonts/FSJoey-Heavy.otf');
}
@font-face {
	font-family: McLarenBespoke;
	src: url('../../assets/fonts/McLarenBespoke_Rg.ttf');
}
@font-face {
	font-family: McLarenBespokeBold;
	src: url('../../assets/fonts/McLarenBespoke_Bd.ttf');
}
