html,
body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: DIN;
  line-height: 1.3;
  overflow: auto;
}
html {
  scroll-behavior: smooth;
}

a {
  color: $yellow;
  text-decoration: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 1px;
  background: $blue2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  width: 1px;
  background: $yellow;
  border-radius: 5px;
}
