.din { font-family: DIN; }
.din-bold { font-family: DINBold; }
.din-bold-italic { font-family: DINBoldItalic; }
.fs-joey-bold { font-family: FSJoeyBold; }
.mc-laren-bespoke { font-family: McLarenBespoke; }
.mc-laren-bespoke-bold { font-family: McLarenBespokeBold; }
