.my-5 { margin-top: 5px; margin-bottom: 5px; }
.my-10 { margin-top: 10px; margin-bottom: 10px; }
.my-15 { margin-top: 15px; margin-bottom: 15px; }
.my-20 { margin-top: 20px; margin-bottom: 20px; }
.my-25 { margin-top: 25px; margin-bottom: 25px; }
.my-30 { margin-top: 30px; margin-bottom: 30px; }
.my-35 { margin-top: 35px; margin-bottom: 35px; }
.my-40 { margin-top: 40px; margin-bottom: 40px; }
.my-45 { margin-top: 45px; margin-bottom: 45px; }
.my-50 { margin-top: 50px; margin-bottom: 50px; }

.mx-10 { margin-right: 10px; margin-left: 10px; }
.mx-15 { margin-right: 15px; margin-left: 15px; }
.mx-20 { margin-right: 20px; margin-left: 20px; }
.mx-25 { margin-right: 25px; margin-left: 25px; }
.mx-30 { margin-right: 30px; margin-left: 30px; }
.mx-35 { margin-right: 35px; margin-left: 35px; }
.mx-40 { margin-right: 40px; margin-left: 40px; }
.mx-45 { margin-right: 45px; margin-left: 45px; }
.mx-50 { margin-right: 50px; margin-left: 50px; }

.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }

.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }

.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }

.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
