.j-gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.j-gallery-list-item {
  flex: 0 0 31%;
  width: 31%;
  margin-right: 1.1%;
  margin-bottom: 50px;
  margin-left: 1.1%;
}
.j-gallery-box {
  text-align: center;
}
.j-gallery-box-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 205px;
  margin-bottom: 15px;
  background-color: $blue3;
  border-radius: 5px;
  border: 7.5px solid $blue2;
}
.j-gallery-box-video::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.j-gallery-box-video iframe,
.j-gallery-box-video frame,
.j-gallery-box-video video,
.j-gallery-box-video img {
  max-height: 100%;
  max-width: 100%;
}
.j-gallery-box-title,
.j-gallery-box-city {
  margin-bottom: 5px;
  font-family: FSJoeyBold;
  font-size: 18px;
  color: $white;
}
