// section 1
.j-hk-view {
  position: relative;
  height: 435px;
  border-radius: 5px;
  border: 10px solid rgba(0, 56, 154, 0.6);
}
.j-hk-view::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.j-hk-view iframe,
.j-hk-view frame
.j-hk-view img {
  height: 100%;
  width: 100%;
}
.j-hk-view img {
  object-fit: cover;
}
.j-hk-img-1 {
  position: absolute;
  top: 6%;
  left: 2%;
  width: 31%;
  z-index: 3;
}
.j-hk-img-2 {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 47.1%;
  z-index: 4;
}
.j-hk-img-3 {
  position: absolute;
  top: 20%;
  right: 4%;
  width: 41%;
  z-index: 3;
}
.j-hk-img-4 {
  margin-top: 11%;
  width: 100%;
}



// section 2
.j-hw-box {
  position: relative;
  padding: 80px 40px 25px 40px;
  background-color: rgba(0, 56, 154, 0.6);
  border-radius: 5px;
  border: 10px solid $yellow;
}
.j-hw-box-logo {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.j-hw-box-content {
  margin-top: 40px;
}
.j-hw-box-head {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.j-hw-box-head > .slick-dots,
.j-hw-box-bulanan-dots > .slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: auto !important;
}
.j-hw-box-head > a,
.j-hw-box-head > .slick-dots li,
.j-hw-box-bulanan-dots > .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px !important;
  min-width: 215px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  background-color: $blue3;
  border-radius: 5px;
  font-family: FSJoeyBold;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  transition: $trans;
}
.j-hw-box-bulanan-dots > .slick-dots li {
  height: 40px !important;
  width: 30% !important;
  min-width: 0 !important;
  font-size: 14px;
}
.j-hw-box-head > .slick-dots li:first-child::before {
  content: 'BULANAN';
}
.j-hw-box-head > .slick-dots li:last-child::before {
  content: 'GRAND PRIZE';
}
.j-hw-box-bulanan-dots > .slick-dots li:nth-child(1)::before {
  content: 'PERIODE 1';
}
.j-hw-box-bulanan-dots > .slick-dots li:nth-child(2)::before {
  content: 'PERIODE 2';
}
.j-hw-box-bulanan-dots > .slick-dots li:nth-child(3)::before {
  content: 'PERIODE 3';
}
.j-hw-box-head > a:hover,
.j-hw-box-head > a.active,
.j-hw-box-head > .slick-dots li:hover,
.j-hw-box-head > .slick-dots li.slick-active {
  background-color: $blue2;
}
.j-hw-box-bulanan-dots > .slick-dots li:hover,
.j-hw-box-bulanan-dots > .slick-dots li.slick-active {
  background-color: $yellow;
  color: $blue3;
}
.j-hw-box-head > .slick-dots li button,
.j-hw-box-bulanan-dots > .slick-dots li button {
  display: none;
}
.j-hw-box-table {
  max-height: 445px;
  overflow-y: auto;
}
.j-hw-image-1 {
  position: absolute;
  top: 4%;
  left: 15%;
  width: 17.4%;
  z-index: 1;
}
.j-hw-image-2 {
  position: absolute;
  top: -4%;
  right: 17%;
  width: 18.23%;
  z-index: 1;
}



// section 3
.j-home-fitur {
  background-color: $blue3;
}
.j-hf-draft-box {
  display: flex;
}
.j-hf-draft-view {
  height: 225px;
  flex: 0 0 50%;
  width: 50%;
  margin-right: 30px;
  border-radius: 5px;
  border: 10px solid #ebebeb;
}
.j-hf-draft-view::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.j-hf-draft-view iframe,
.j-hf-draft-view frame
.j-hf-draft-view img {
  max-height: 100%;
  max-width: 100%;
}
.j-hf-draft-descr {
  color: $white;
}
.j-hf-draft-descr-title {
  margin-bottom: 10px;
  font-family: FSJoeyBold;
  font-size: 26px;
}
.j-hf-draft-descr-text {
  font-family: Titillium;
  font-size: 16px;
}



// section 4
.j-home-download {
  padding-top: 85px;
  padding-bottom: 90px;
}
.j-hd-wrap {
  width: 57.3%;
}
.j-hd-image {
  position: absolute;
  top: -65%;
  right: 16.7%;
  width: 28%;
}
