.j-win-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.j-win-list-item {
  flex: 0 0 18%;
  width: 18%;
  margin-right: 1%;
  margin-bottom: 30px;
  margin-left: 1%;
}
