.j-syarat-box {
  padding: 50px 25px;
  background-color: rgba(0, 56, 154, 0.7);
  border-radius: 5px;
  border: 10px solid $blue2;
}
.j-syarat-box-item {
  max-height: 695px;
  padding-right: 25px;
  padding-left: 25px;
  overflow-y: auto;
  font-size: 14px;
  color: $white;
}
.j-syarat-box-item a { color: $yellow !important; }
.j-syarat-descr > li { margin-bottom: 15px; }
.j-syarat-descr > li:last-child { margin-bottom: 0; }
