<section id="j-syarat" class="j-syarat j-page-header j-page-bottom">
  <!-- images -->
  {% include '../layouts/images.twig' %}

  <div class="j-inner j-inner-header">
    <!-- title -->
    <div class="j-title">
      <h1 class="j-title-page text-center text-yellow">
        SYARAT DAN KETENTUAN

        <small>
          Kompetisi Mobile Games Indomilk Tobot Galaxy
        </small>
      </h1>
    </div>

    <!-- content -->
    <div class="j-content">
      <div class="j-syarat-box">
        <div class="j-syarat-box-item">
          <!-- syarat -->
          <div class="mb-25">
            <h3>SYARAT</h3>

            <ol class="j-syarat-descr" type="1">
              <li>Program kompetisi mobile games “Indomilk Tobot Galaxy” (“Kompetisi”) diadakan oleh PT Indolakto selama periode promosi mulai dari tanggal 1 October 2020 sampai dengan tanggal 10 Januari 2021 bagi peserta di wilayah Indonesia yang memenuhi Syarat & Ketentuan yang ditentukan sepenuhnya oleh PT Indolakto.</li>
              <li>Operator Games adalah pihak yang resmi ditunjuk dan ditetapkan oleh PT Indolakto untuk menjalankan fungsi sepenuhnya aplikasi mobile games ini serta bertanggung jawab kepada PT. Indolakto.</li>
              <li>Admin Kompetisi adalah pihak yang resmi ditunjuk dan ditetapkan oleh PT Indolakto untuk bertindak sebagai admin website <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a> dan pengurusan hadiah pemenang.</li>
              <li>
                Peserta adalah:
                <ul>
                  <li>WNI</li>
                  <li>Berkedudukan di wilayah Indonesia</li>
                  <li>Berusia maksimal 14 tahun saat melakukan registrasi Kompetisi.</li>
                </ul>
              </li>
              <li>
                Syarat peserta:
                <ol type="a">
                  <li>Melakukan registasi di dalam aplikasi dengan mengisi data : user name, usia dan email address yang aktif a.	Username harus dibuat unik sebagai identitas peserta</li>
                  <li>1 orang peserta hanya boleh memiliki 1 username</li>
                  <li>Handphone yang digunakan memiliki akun Google Play</li>
                  <li>Sudah memperoleh persetujuan orang tua/wali</li>
                </ol>
              </li>
              <li>Untuk mengikuti kompetisi ini Peserta harus mengunduh aplikasi Indomilk Tobot Galaxy hanya dari Google Play Store, melakukan registrasi di dalam aplikasi, mengoleksi kemasan Indomilk versi Tobot Galaxy dan memainkan</li>
              <li>Peserta dapat mengaktifkan fitur karakter dalam games dengan cara memindai (scan) kemasan bagian belakang produk Indomilk UHT Kids 115 ml, Indomilk UHT 190 ml dan Indomilk botol 190 ml seri Indomilk Tobot Galaxy.</li>
              <li>Games dapat dimainkan secara offline (tanpa menggunakan kuota data). Namun untuk melakukan registrasi dan mengunggah score ke server Operator Games maka handphone Peserta harus terkoneksi dengan jaringan internet dan memiliki kuota data yang cukup.</li>
              <li>
                PT Indolakto menerapkan kebijakan pengaturan jam bermain dalam aplikasi untuk mencegah Peserta memainkan games ini dalam waktu yang terlalu lama. Walaupun demikian PT Indolakto mendorong kebijaksanaan orang tua untuk melakukan pengawasan jam bermain untuk menjaga kesehatan dan keseimbangan kehidupan sosial Peserta. Beberapa pengaturan jam bermain tersebut, yaitu:
                <ul>
                  <li>Adanya reminder setiap jam agar anak istirahat</li>
                  <li>Score tidak akan dihitung jika bermain setelah pukul 22.00 hingga 07.00</li>
                </ul>
              </li>
              <li>PT Indolakto mengadakan 2 fase kompetisi, yaitu Monthly Competition dan Grand Competition</li>
              <li>
                Ketentuan Monthly  Competition:
                <ol type="a">
                  <li>
                    Periode:
                    <ul>
                      <li>Periode 1 : 1-31 October 2020</li>
                      <li>Periode 2 : 1-30 November 2020</li>
                      <li>Periode 3 : 1 Desember 2020- 3 Januari 2021</li>
                    </ul>
                  </li>
                  <li>Score yang dicapai oleh Peserta dapat dilihat di Monthly Leaderboard dan di <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a>.  Peserta harus terhubung dengan jaringan internet/online dengan agar score dapat terunggah dan tercantum pada Monthly Leaderboard</li>
                  <li>Satu-satunya data Monthly Leaderboard yang sah adalah data di server Operator Games.</li>
                  <li>Untuk menjaga keadilan dalam kompetisi, PT Indolakto berhak untuk menggugurkan Peserta yang diduga kuat melakukan perbuatan tidak jujur dan memperoleh score secara tidak wajar. Dalam melakukan hal ini PT Indolakto tidak memiliki kewajiban untuk memberikan alasan/penjelasan apapun kepada Peserta kompetisi atau pihak manapun</li>
                  <li>
                    Top 20 players yang tercantum di Monthly Leaderboard pada pukul 00.00 WIB disetiap akhir periode akan mendapat hadiah:
                    <ul>
                      <li>Juara 1 : beasiswa Rp 5juta + 1 unit Tobot original toys medium size</li>
                      <li>Juara 2 : beasiswa Rp 3 juta + 1 unit Tobot original toys medium size</li>
                      <li>Juara 3 : beasiswa Rp 2 juta + 1 unit Tobot original toys medium size</li>
                      <li>Ranking 4-20 : masing-masing 1 unit Tobot original toys medium size</li>
                    </ul>
                  </li>
                  <li>Pengumuman pemenang bulanan dapat dilihat pada laman <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a>. Pemenang akan  menerima email resmi dari <a href="mailto: admin@indomilktobothero.com">admin@indomilktobothero.com</a>.  PT Indolakto berhak menentukan jenis dan warna hadiah Tobot original toys medium size</li>
                  <li>Tiap orang peserta hanya boleh 1x memenangkan Monthly Competition dan tidak diikutsertakan dalam Monthly Competition selanjutnya</li>
                  <li>Pemenang Monthly Competition tetap berhak ikut serta dalam Grand Competition</li>
                  <li>Pemenang Monthly Competition tetap dapat memainkan games dan terus mencapai nilai yang lebih tinggi untuk  memenangkan Grand Competition</li>
                  <li>Operator Games berhak melakukan validasi keabsahan calon Pemenang termasuk namun tidak terbatas pada point 4 dan 5 di atas</li>
                  <li>Apabila dalam proses verifikasi tersebut Operator Games menyimpulkan bahwa calon Pemenang tidak valid, maka PT Indolakto memiliki hak penuh untuk membatalkan status pemenang dan menaikkan ranking peserta berikutnya di Monthly Leaderboard</li>
                  <li>PT Indolakto dan/atau Admin Kompetisi akan mengirimkan hadiah beasiswa menggunakan transfer bank dan hadiah Tobot Toys original memakai jasa kurir yang ditentukan oleh PT Indolakto</li>
                  <li>Untuk keperluan pemberian hadiah beasiswa melalui transfer bank, pihak Pemenang harus menginformasikan kepada admin@indomilktobotgalaxy.com data-data nama, nama bank dan nomer rekening pihak yang akan menerima kompensasi hadiah menggunakan alamat email yang sama dengan yang digunakan pihak Pemenang saat registrasi kompetisi. Segala informasi yang diberikan oleh Pemenang dianggap benar. Apabila terdapat kesalahan informasi hal tersebut sepenuhnya merupakan tanggung jawab pihak Pemenang sebagai pemberi informasi sehingga PT Indolakto dan/atau Admin Kompetisi tidak dapat dimintakan pertanggungjawaban atas hal ini. Dikarenakan adanya keterbatasan untuk melakukan pertemuan secara fisik, maka slip transfer bank  pemberian hadiah beasiswa ke rekening Pemenang tersebut adalah bukti pelunasan kewajiban yang sah oleh PT Indolakto dan/atau Admin Kompetisi dalam pemenuhan hak Pemenang Kompetisi.</li>
                  <li>Hadiah Tobot original toys akan dikirim ke alamat dalam wilayah Indonesia yang diberikan Pemenang pada saat verifikasi kepada Admin Kompetisi. Alamat yang dimaksud harus termasuk di dalam cakupan yang dilayani oleh transporter Titipan Kilat dan Pos Indonesia. Pengiriman hadiah yang tidak sampai ke Pemenang karena kesalahan informasi alamat yang diberikan Pemenang adalah sepenuhnya tanggung jawab Pemenang sehingga PT Indolakto dan/atau Admin Kompetisi tidak dapat dituntut oleh pihak manapun baik untuk melakukan pengurusan ke pihak transporter dan/atau memberikan penggantian hadiah yang hilang. Kerusakan atau cacat pada kemasan, fisik dan/atau fungsi mainan akibat handling pengiriman dalam hal terjadi kesalahan informasi alamat pengiriman yang diberikan Pemenang ini tidak termasuk kewajiban PT Indolakto dan/atau Admin Kompetisi untuk melakukan penggantian apapun.</li>
                  <li>Pemenang berkewajiban untuk melakukan posting foto bersama hadiah yang diterima dan diupload ke sosial media yang dimiliki oleh pemenang atau keluarganya dengan menyertakan #IndomilkTobotGalaxy dan mention  akun @indomilk</li>
                  <li>Hadiah mainan yang diterima dalam keadaan cacat yang disebabkan oleh proses pengiriman sehingga mengganggu fungsi mainan menjadi tanggung jawab PT Indolakto dan/atau Admin Kompetisi untuk menggantinya. Dalam hal ketiadaan stok Tobot original toys pengganti yang sejenis di stok PT Indolakto dan/atau Admin Kompetisi dan di toko Toys Kingdom, maka PT Indolakto dan/atau Admin Kompetisi memiliki hak penuh untuk mengganti dengan mainan Tobot toys yang tersedia di toko Toys Kingdom dengan harga yang paling mendekati. Dengan tersedianya mainan pengganti maka pemenang wajib mengembalikan mainan Tobot original toys yang cacat kepada PT Indolakto dengan ongkos kirim menjadi tanggungan PT Indolakto. Kerusakan cacat pada kemasan maupun fisik mainan akibat handling pengiriman sejauh tidak mengganggu fungsi mainan utama tidak dapat diklaim oleh Pemenang sehingga PT Indolakto dan/atau Admin Kompetisi tidak berkewajiban untuk melakukan penggantian.</li>
                  <li>PT Indolakto dan/atau Admin Kompetisi mendapatkan stok hadiah Tobot original toys dalam kemasan asli sehingga PT Indolakto dan/atau Admin Kompetisi tidak bertanggung jawab atas cacat produksi yang mungkin terjadi atas unit tersebut</li>
                </ol>
              </li>
              <li>
                Ketentuan Grand Competition:
                <ol type="a">
                  <li>Periode Grand Competition dari 1 October 2020 sampai dengan 10 Januari 2021</li>
                  <li>Score yang dicapai oleh Peserta dapat dilihat di Grand Leaderboard dan di <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a>.  Peserta harus melakukan koneksi/online dengan jaringan internet untuk mengunggah score dan membuka Grand Leaderboard</li>
                  <li>Satu-satunya data Grand Leaderboard yang sah adalah data di server Operator Games.</li>
                  <li>Untuk menjaga fairness kompetisi, PT Indolakto berhak untuk menggugurkan Peserta yang dianggap melakukan kecurangan dan memperoleh score secara tidak wajar. Dalam melakukan hal ini PT Indolakto tidak memiliki kewajiban untuk memberikan alasan/penjelasan apapun kepada Peserta kompetisi atau pihak manapun</li>
                  <li>
                    Top 5 players yang tercantum di Grand Leaderboard pada pukul 00.00 WIB malam di akhir periode masing-masing akan mendapat hadiah:
                    <ul>
                      <li>Juara 1 : beasiswa Rp 25juta + 1 unit Tobot original toys big size</li>
                      <li>Juara 2 : beasiswa Rp 15 juta + 1 unit Tobot original toys big size</li>
                      <li>Juara 3-5 : beasiswa Rp 10 juta + 1 unit Tobot original toys big size</li>
                    </ul>
                  </li>
                  <li>Pengumuman pemenang Grand Competition dapat dilihat pada laman <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a> paling lambat 2 minggu setelah berakhirnya kompetisi. Pemenang akan menerima email resmi dari <a href="mailto: admin@indomilktobothero.com">admin@indomilktobothero.com</a>. PT Indolakto berhak menentukan jenis dan warna hadiah Tobot original toys big size</li>
                  <li>Score Kompetisi dari tiap pemain terhitung sejak pertama kali pemain mengunggah (upload) score ke leaderboard secara online, sampai dengan upload online di akhir periode.</li>
                  <li>Operator Games berhak melakukan validasi keabsahan pemenang termasuk namun tidak terbatas pada melakukan pengujian kemampuan bermain pemenang mencapai nilai sebagaimana dalam Grand Leaderboard.</li>
                  <li>Salah satu syarat penentuan pemenang yang di verifikasi adalah tiap pemenang Grand Prize wajib menunjukkan memiliki minimal 40 karakter koleksi packaging khusus edisi Indomilk Tobot Galaxy dari 3 macam jenis kemasan yaitu Indomilk Kids UHT 115 ml, Indomilk UHT 190 ml dan Indomilk botol 190 ml</li>
                  <li>Apabila dalam proses verifikasi tersebut Opearator Games menyimpulkan bahwa pemenang tidak dapat menunjukkan koleksi kemasan dan kemampuan bermain yang dimaksud maka PT Indolakto memiliki hak penuh untuk membatalkan status pemenang dan menaikan ranking peserta berikutnya di Grand Leaderboard.</li>
                  <li>PT Indolakto dan/atau Admin Kompetisi akan mengirimkan hadiah beasiswa menggunakan transfer bank dan hadiah Tobot Toys original memakai jasa kurir yang ditentukan oleh PT Indolakto.</li>
                  <li>Untuk keperluan pemberian hadiah beasiswa melalui transfer bank, pihak Pemenang harus menginformasikan kepada admin@indomilktobotgalaxy.com data-data nama, nama bank dan nomer rekening pihak yang akan menerima kompensasi hadiah menggunakan alamat email yang sama dengan yang digunakan pihak Pemenang saat registrasi kompetisi.  Segala informasi yang diberikan oleh Pemenang dianggap benar. Apabila terdapat kesalahan informasi, hal tersebut sepenuhnya merupakan tanggung jawab pihak Pemenang sebagai pemberi informasi sehingga PT Indolakto dan/atau Admin Kompetisi tidak dapat dimintakan pertanggungjawaban atas hal ini. Dikarenakan adanya keterbatasan untuk melakukan pertemuan secara fisik, maka slip transfer bank  pemberian hadiah beasiswa ke rekening Pemenang tersebut adalah bukti pelunasan kewajiban yang sah oleh PT Indolakto dan/atau Admin Kompetisi dalam pemenuhan hak Pemenang Kompetisi.</li>
                  <li>Hadiah Tobot original toys akan dikirim ke alamat dalam wilayah Indonesia yang diberikan Pemenang pada saat verifikasi kepada Admin Kompetisi. Alamat yang dimaksud harus termasuk di dalam cakupan yang dilayani oleh transporter Titipan Kilat dan Pos Indonesia. Pengiriman hadiah yang tidak sampai ke Pemenang karena kesalahan informasi alamat yang diberikan Pemenang adalah sepenuhnya tanggung jawab Pemenang sehingga PT Indolakto dan/atau  Admin Kompetisi tidak dapat dituntut oleh pihak manapun baik untuk melakukan pengurusan ke pihak transporter dan/atau memberikan penggantian hadiah yang hilang. Kerusakan atau cacat pada kemasan, fisik dan/atau fungsi mainan akibat handling pengiriman dalam hal terjadi kesalahan informasi alamat pengiriman yang diberikan Pemenang ini tidak termasuk kewajiban PT Indolakto dan/atau Admin Kompetisi untuk melakukan penggantian apapun.</li>
                  <li>Pemenang berkewajiban untuk melakukan posting foto bersama hadiah yang diterima dan diupload ke sosial media yang dimiliki oleh pemenang atau keluarganya dengan menyertakan #IndomilkTobotGalaxy dan mention  akun @indomilk</li>
                  <li>Hadiah mainan yang diterima dalam keadaan cacat yang disebabkan oleh proses pengiriman sehingga mengganggu fungsi mainan menjadi tanggung jawab PT Indolakto dan/atau Admin Kompetisi untuk menggantinya. Dalam hal ketiadaan stok Tobot orginal toys pengganti yang sejenis di stok PT Indolakto dan/atau  Admin Kompetisi dan di toko Toys Kingdom, maka PT Indolakto dan/atau Admin Kompetisi memiliki hak penuh untuk mengganti dengan mainan Tobot toys yang tersedia di toko Toys Kingdom dengan harga yang paling mendekati. Dengan tersedianya mainan pengganti maka pemenang wajib mengembalikan mainan Tobot original toys yang cacat kepada PT Indolakto dengan ongkos kirim menjadi tanggungan PT Indolakto. Kerusakan/cacat pada kemasan maupun fisik mainan akibat handling pengiriman sejauh tidak mengganggu fungsi mainan utama tidak dapat diklaim oleh Pemenang sehingga PT Indolakto dan/atau  Admin Kompetisi tidak berkewajiban untuk melakukan penggantian.</li>
                  <li>PT Indolakto dan/atau Admin Kompetisi mendapatkan stok hadiah Tobot original toys dalam kemasan asli sehingga PT Indolakto dan/atau Admin Kompetisi tidak bertanggung jawab atas cacat produksi yang mungkin terjadi atas unit tersebut</li>
                </ol>
              </li>
              <li>
                Perhitungan total score untuk masing-masing game: <br>
                Main Game (Game utama):
                <ul>
                  <li>Jumlah kemasan Indomilk yang berhasil terkumpul</li>
                  <li>Jumlah penjahat yang berhasil dikalahkan</li>
                </ul>

                Extra Challenge Game (Robot Racing Track):
                <ul>
                  <li>Jumlah kemasan Indomilk yang berhasil terkumpul</li>
                  <li>Jumlah penjahat yang berhasil dikalahkan</li>
                  <li>Menyelesaikan balapan hingga finish dengan waktu secepat mungkin</li>
                </ul>

                Extra Challenge Game (Indomilk Farm):
                <ul>
                  <li>Jumlah penjahat yang berhasil dikalahkan</li>
                  <li>Jumlah sapi yang berhasil diselamatkan</li>
                </ul>

                Acrobatic Race:
                <ul>
                  <li>Jumlah kemasan Indomilk yang berhasil terkumpul</li>
                  <li>Jarak yang ditempuh</li>
                </ul>
              </li>
              <li>Pemenang semua kompetisi akan dihubungi langsung oleh Admin Kompetisi yang ditunjuk melalui email address yang dicantumkan peserta saat registrasi.</li>
              <li>Nama-nama pemenang akan diumumkan di website <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a>com setelah proses verifikasi selesai.</li>
              <li>Syarat dan Ketentuan program promosi ditetapkan sepenuhnya oleh PT Indolakto dan atas kebijakannya sendiri PT Indolakto berhak untuk merubah, menambah dan menetapkan Syarat dan Ketentuan lainnya.</li>
              <li>Keterangan mengenai program promosi ini hanya dapat dilihat pada situs resmi <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a></li>
              <li>Konsumen diingatkan untuk berhati-hati terhadap segala bentuk penipuan termasuk laman internet lain yang mengatasnamakan kompetisi Indomilk Tobot Galaxy.</li>
            </ol>
          </div>

          <!-- ketentuan -->
          <div class="mb-25">
            <h3>KETENTUAN</h3>

            <div>
              <div class="mb-15">
                <h4>Penggunaan konten partisipasi oleh PT Indolakto</h4>
                <ul>
                  <li>Dengan mengikuti kompetisi, berarti Anda menyetujui bahwa data yang telah dikirimkan berhak digunakan oleh PT Indolakto dan atau pihak ketiga yang bekerjasama dengan PT Indolakto terkait kompetisi ini untuk kegiatan pemasaran dan promosi langsung, dan tidak terbatas untuk perusahaan yang terafiliasi dengan PT Indolakto maupun Indofood.</li>
                  <li>Dengan mengikuti Kompetisi berarti Anda menyetujui bahwa konten yang telah dikirimkan bersamaan dengan nama, foto dan kesamaan berhak digunakan PT Indolakto untuk iklan, pemasaran, promosi untuk kepentingan publikasi dan komunikasi lainnya dengan maksud sewajarnya di media, tanpa membutuhkan kebijaksanaan dan pertimbangan untuk Anda. Untuk menghindari keraguan dan tanpa batasan, maka PT Indolakto akan menggunakan konten dari keikutertaan pada situs kompetisi PT Indolakto, pada halaman Facebook fanpage, pada akun Instagram dan Twitter serta material komunikasi Penyelenggara lainnya (baik internal maupun eksternal).</li>
                  <li>Dalam hal ketentuan-ketentuan tersebut di atas, dengan mengikuti Kompetisi berarti Anda menyetujui untuk memberikan PT Indolakto konten non eksklusif, bebas royalti, terus menerus, dapat dipindahtangankan, memberikan lisensi di seluruh dunia untuk menggunakan, menampilkan, memproduksi ulang, memodifikasi, mengatur ulang dan mendistribusikan konten keikutsertaaan pada media apapun dari waktu ke waktu, termasuk namun tidak terbatas pada media sosial.</li>
                </ul>
              </div>
              
              <div class="mb-15">
                <h4>Pengamanan Data</h4>
                <ul>
                  <li>Setiap data personil yang dikirimkan sebagai bagian dari Kompetisi akan disimpan dan diproses atas nama PT Indolakto oleh pengatur data sesuai dengan perundangan-undangan perlindungan data yang berlaku. Peserta menyetujui bahwa data tersebut dapat digunakan untuk administrasi Kompetisi, untuk menghubungi pemenang Kompetisi dan untuk kepentingan lainnya sebagaimana tersebut pada Syarat dan Ketentuan ini.</li>
                </ul>
              </div>

              <div class="mb-15">
                <h4>Informasi Umum</h4>
                <ul>
                  <li>•	Keputusan dari PT Indolakto adalah mutlak dan tidak dapat diganggu gugat. PT Indolakto berhak untuk menyelidiki hal yang terkait dengan kecurangan ataupun pelanggaran dan mendiskualifikasi peserta yang diduga melakukan kecurangan ataupun pelanggaran terhadap Syarat dan ketentuan yang berlaku.</li>
                  <li>•	PT Indolakto berhak untuk membatalkan, menghapuskan, mengubah, menunda Kompetisi atau Syarat dan ketentuan sewaktu-waktu, dengan alasan apa pun, sebagian ataupun keseluruhan, tanpa pemberitahuan sebelumnya. Setiap perubahan pada Syarat dan ketentuan akan diinformasikan pada Situs Kompetisi <a href="www.indomilktobotgalaxy.com">www.indomilktobotgalaxy.com</a>.</li>
                  <li>•	Dalam kondisi yang tidak terduga atau di luar kuasa, PT Indolakto berhak untuk menawarkan hadiah pengganti dengan nilai yang sama atau lebih besar, tergantung kebijakan PT Indolakto.</li>
                  <li>•	Dengan menerima Hadiah, pemenang setuju untuk membebaskan PT Indolakto dan afiliasi terkait dari segala tuntutan dan tanggung jawab yang muncul terkait dengan Hadiah atau penggunaan Hadiah, penyalahgunaan, penukaran Hadiah. <br> Pertanggungjawabban PT Indolakto hanya terbatas pada penyediaan Hadiah (atau membayar biaya penggantian). PT Indolakto tidak bertanggung jawab terhadap Pemenang (termasuk pendampingnya sebagaimana diuraikan diatas) atas cedera, kematian, kerusakan, kehilangan barang / property selama dan sesudah penyelenggaraan Hadiah. PT Indolakto hanya berkewajiban untuk membantu dan mendampingi pemenang selama penyelenggaraan Hadiah.</li>
                  <li>•	Hadiah Tobot original toys tidak dapat diuangkan atau ditukar dengan bentuk apapun.</li>
                  <li>•	Pemenang tidak dapat mengalihkan haknya sebagai pemenang kepada pihak manapun.</li>
                  <li>•	Program kompetisi ini tidak berlaku bagi seluruh karyawan Indofood beserta seluruh keluarganya, termasuk karyawan pihak PT Indolakto dan pendukung program kompetisi ini beserta keluarganya.</li>
                  <li>•	Pajak hadiah akan ditanggung seluruhnya oleh PT Indolakto. Konsumen diingatkan untuk tidak melakukan pembayaran/transfer uang kepada pihak manapun terkait program ini.</li>
                  <li>•	Kompetisi ini, termasuk Syarat dan Ketentuannya serta dampak hukumnya diatur dan tunduk pada peraturan perundangan-undangan yang berlaku di Negara Republik</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- informasi -->
          <div>
            <div>Untuk keterangan lebih lanjut, dapat menghubungi:</div>
            <div class="text-bold">Layanan Konsumen Indomilk:</div>
            <div>0800 170 8888 (Bebas pulsa, Senin-Jumat, jam 8.00–17.00 dan Sabtu jam 8.00– 15.00)</div>
            <div>Email: <a href="mailto: layanan.konsumen@indomilk.com">layanan.konsumen@indomilk.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
