<section id="j-gallery" class="j-gallery j-page-header j-page-bottom">
  <!-- images -->
  {% include '../layouts/images.twig' %}

  <div class="j-inner-2 j-inner-header">
    <!-- title -->
    <div class="j-title no-line">
      <h1 class="j-title-page text-center text-yellow">
        GALLERY

        <small>
          Mobile Games Indomilk Tobot Galaxy
        </small>
      </h1>
    </div>

    <!-- content -->
    <div class="j-content">
      <!-- panel -->
      <div class="j-panel">
        <!-- panel: head -->
        <div class="j-panel-head">
          <div class="j-panel-head-button active" j-direction="panel" j-target-id="gallery" j-target="page-1">
            PAGE 1
          </div>
          <div class="j-panel-head-button" j-direction="panel" j-target-id="gallery" j-target="page-2">
            PAGE 2
          </div>
        </div>

        <!-- panel: body -->
        <div class="j-panel-body">
          <!-- panel: page 1 -->
          <div class="j-panel-body-item active" j-target-id="gallery" j-place="page-1">
            <div class="j-gallery-list">
              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>
            </div>
          </div>

          <!-- panel: page 2 -->
          <div class="j-panel-body-item" j-target-id="gallery" j-place="page-2">
            <div class="j-gallery-list">
              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-gallery-list-item">
                <div class="j-gallery-box">
                  <!-- box: video -->
                  <div class="j-gallery-box-video" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
