.j-body {
 position: relative;
 z-index: 3;
}

.j-section-padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

.j-inner-header {
  position: relative;
  z-index: 3;
}
.j-inner-face {
  position: relative;
  z-index: 10;
}
.j-inner {
  padding-left: 18.3%;
  padding-right: 18.3%;
}
.j-inner-2 {
  padding-left: 8.5%;
  padding-right: 8.5%;
}
.j-inner-3 {
  padding-left: 25.2%;
  padding-right: 25.2%;
}
.j-inner-4 {
  padding-left: 16.7%;
  padding-right: 16.7%;
}

.j-page-header {
  position: relative;
  margin-top: 180px;
}
.j-page-bottom { margin-bottom: 12%; }

.j-title {
  display: flex;
  justify-content: center;
}
.j-title-page {
  position: relative;
  font-family: TitilliumBold;
  font-size: 36px;
}
.j-title-page::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 12px;
  width: 100%;
  width: 430px;
  margin-top: 20px;
  margin-left: -215px;
  background-image: url('../../assets/img/line.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.j-title.j-type-2 .j-title-page::after {
  top: 70%;
}
.j-title.no-line .j-title-page::after {
  display: none;
}
.j-title-page > .j-info {
  display: inline-block;
  position: relative;
  top: -5px;
  height: 25px;
  width: 25px;
  background-color: $red;
  border-radius: 100%;
  font-size: 19px;
  color: black;
  cursor: pointer;
}
.j-title-page small {
  display: block;
  font-family: FSJoeyBold;
  font-size: 20px;
  color: $white;
}
.j-content { margin-top: 50px; }
.j-content-2 { margin-top: 80px; }

.j-auto {
  max-height: 100%;
  max-width: 100%;
}
