.d-flex { display: flex; }
.d-flex.flex-wrap { flex-wrap: wrap; }
.d-flex.justify-center { justify-content: center; }
.d-flex.justify-between { justify-content: space-between; }
.d-flex.justify-around { justify-content: space-around; }
.d-flex.justify-start { justify-content: flex-start; }
.d-flex.justify-end { justify-content: flex-end; }
.d-flex.align-items-stretch { align-items: stretch; }
.d-flex.align-items-center { align-items: center; }
.d-block { display: block; }
.d-none { display: none; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }

.width-full {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
}
