<section id="j-win" class="j-win j-page-header j-page-bottom">
  <!-- images -->
  {% include '../layouts/images.twig' %}

  <div class="j-inner-2 j-inner-header j-inner-face">
    <!-- title -->
    <div class="j-title no-line">
      <h1 class="j-title-page text-center text-yellow">
        PEMENANG

        <!-- tooltip -->
        <div class="j-info j-tooltip">
          <div class="j-tooltip-icon">
            &#8505;
          </div>

          <!-- descr -->
          <div class="j-tooltip-descr">
            <div class="j-tooltip-descr-close">&times;</div>

            <div class="j-tooltip-descr-item">
              Lihat <a href="syarat.html">Syarat & Ketentuan</a> untuk pemenang Monthly Competition dan Grand Competition.
            </div>
          </div>
        </div>

        <small>
          Kompetisi Mobile Games Indomilk Tobot Galaxy
        </small>
      </h1>
    </div>

    <!-- content -->
    <div class="j-content">
      <!-- panel -->
      <div class="j-panel">
        <!-- panel: head -->
        <div class="j-panel-head">
          <div class="j-panel-head-button active" j-direction="panel" j-target-id="win" j-target="page-1">
            BULANAN
          </div>
          <div class="j-panel-head-button" j-direction="panel" j-target-id="win" j-target="page-2">
            GRAND PRIZE
          </div>
        </div>

        <!-- panel: body -->
        <div class="j-panel-body">
          <!-- panel: bulanan -->
          <div class="j-panel-body-item active" j-target-id="win" j-place="page-1">
            <!-- panel -->
            <div class="j-panel">
              <!-- panel: head -->
              <div class="j-panel-head blue">
                <div class="j-panel-head-button active" j-direction="panel" j-target-id="win-1" j-target="page-1">
                  PERIODE 1
                </div>
                <div class="j-panel-head-button" j-direction="panel" j-target-id="win-1" j-target="page-2">
                  PERIODE 2
                </div>
                <div class="j-panel-head-button" j-direction="panel" j-target-id="win-1" j-target="page-3">
                  PERIODE 3
                </div>
              </div>

              <!-- panel: body -->
              <div class="j-panel-body">
                <!-- panel: periode 1 -->
                <div class="j-panel-body-item active" j-target-id="win-1" j-place="page-1">
                  <div class="j-win-list">
                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- panel: periode 2 -->
                <div class="j-panel-body-item" j-target-id="win-1" j-place="page-2">
                  <div class="j-win-list">
                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>

                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- panel: periode 3 -->
                <div class="j-panel-body-item" j-target-id="win-1" j-place="page-3">
                  <div class="j-win-list">
                    <!-- item -->
                    <div class="j-win-list-item">
                      <div class="j-gallery-box">
                        <!-- box: image -->
                        <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>
      
                        <!-- box: title -->
                        <h3 class="j-gallery-box-title">USER NAME</h3>

                        <!-- box: title -->
                        <h3 class="j-gallery-box-city">KOTA</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel: grand prize -->
          <div class="j-panel-body-item" j-target-id="win" j-place="page-2">
            <div class="j-win-list">
              <!-- item -->
              <div class="j-win-list-item">
                <div class="j-gallery-box">
                  <!-- box: image -->
                  <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">USER NAME</h3>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-city">KOTA</h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-win-list-item">
                <div class="j-gallery-box">
                  <!-- box: image -->
                  <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">USER NAME</h3>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-city">KOTA</h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-win-list-item">
                <div class="j-gallery-box">
                  <!-- box: image -->
                  <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">USER NAME</h3>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-city">KOTA</h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-win-list-item">
                <div class="j-gallery-box">
                  <!-- box: image -->
                  <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">USER NAME</h3>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-city">KOTA</h3>
                </div>
              </div>

              <!-- item -->
              <div class="j-win-list-item">
                <div class="j-gallery-box">
                  <!-- box: image -->
                  <div class="j-gallery-box-video j-square"><img src="../../../assets/img/ic-user.png"></div>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-title">USER NAME</h3>

                  <!-- box: title -->
                  <h3 class="j-gallery-box-city">KOTA</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
