<section id="j-home-download" class="j-home-download">
  <div class="j-inner-4 p-relative">
    <!-- content -->
    <div class="j-hd-wrap">
      <!-- title -->
      <div class="j-title j-type-2">
        <h1 class="j-title-page text-center text-yellow">
          DOWNLOAD, SCAN & PLAY
        </h1>
      </div>

      <!-- text -->
      <p class="j-text fs-joey-bold text-center fs-20 text-white mt-45">
        Ayo download gamenya sekarang dan mainkan game baru Indomilk Tobot Galaxy yang lebih seru
      </p>

      <!-- download -->
      <div class="j-hd-download text-center mt-20">
        <a href="/" target="_blank"><img src="../../../assets/img/home-download.png" alt="Download" class="j-auto"></a>
      </div>
    </div>

    <!-- robot -->
    <img src="../../../assets/img/home-download-robot.png" class="j-hd-image j-fade">
  </div>
</section>

