<section id="j-home-fitur" class="j-home-fitur j-section-padding">
  <div class="j-inner-3">
    <!-- title -->
    <div class="j-title">
      <h1 class="j-title-page text-center text-yellow">
        FITUR BARU GAME TOBOT GALAXY
      </h1>
    </div>

    <!-- content -->
    <div class="j-content-2">
      <!-- slider: fitur -->
      <div class="j-hf-draft-wrap" j-slider="type-1">
        <!-- slider item -->
        <div>
          <div class="j-hf-draft-box">
            <!-- video | image -->
            <div class="j-hf-draft-view" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- title | descr -->
            <div class="j-hf-draft-descr">
              <h3 class="j-hf-draft-descr-title">The Adventure</h3>
              <p class="j-hf-draft-descr-text">Kejar score tertinggi dengan cara kumpulkan susu Indomilk sebanyak-banyaknya, dan taklukkan tantangan seru yang tersebar dalam area City, Countryside dan Rocky Terrain, kalahkan lawan-lawan dari seri Tobot Original, Tobot Athlon dan Tobot Galaxy Detective, dan temukan tempat-tempat rahasia yang memberikan extra score</p>
            </div>
          </div>
        </div>

        <!-- slider item -->
        <div>
          <div class="j-hf-draft-box">
            <!-- video | image -->
            <div class="j-hf-draft-view" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- title | descr -->
            <div class="j-hf-draft-descr">
              <h3 class="j-hf-draft-descr-title">The Adventure</h3>
              <p class="j-hf-draft-descr-text">Kejar score tertinggi dengan cara kumpulkan susu Indomilk sebanyak-banyaknya, dan taklukkan tantangan seru yang tersebar dalam area City, Countryside dan Rocky Terrain, kalahkan lawan-lawan dari seri Tobot Original, Tobot Athlon dan Tobot Galaxy Detective, dan temukan tempat-tempat rahasia yang memberikan extra score</p>
            </div>
          </div>
        </div>

        <!-- slider item -->
        <div>
          <div class="j-hf-draft-box">
            <!-- video | image -->
            <div class="j-hf-draft-view" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- title | descr -->
            <div class="j-hf-draft-descr">
              <h3 class="j-hf-draft-descr-title">The Adventure</h3>
              <p class="j-hf-draft-descr-text">Kejar score tertinggi dengan cara kumpulkan susu Indomilk sebanyak-banyaknya, dan taklukkan tantangan seru yang tersebar dalam area City, Countryside dan Rocky Terrain, kalahkan lawan-lawan dari seri Tobot Original, Tobot Athlon dan Tobot Galaxy Detective, dan temukan tempat-tempat rahasia yang memberikan extra score</p>
            </div>
          </div>
        </div>

        <!-- slider item -->
        <div>
          <div class="j-hf-draft-box">
            <!-- video | image -->
            <div class="j-hf-draft-view" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- title | descr -->
            <div class="j-hf-draft-descr">
              <h3 class="j-hf-draft-descr-title">The Adventure</h3>
              <p class="j-hf-draft-descr-text">Kejar score tertinggi dengan cara kumpulkan susu Indomilk sebanyak-banyaknya, dan taklukkan tantangan seru yang tersebar dalam area City, Countryside dan Rocky Terrain, kalahkan lawan-lawan dari seri Tobot Original, Tobot Athlon dan Tobot Galaxy Detective, dan temukan tempat-tempat rahasia yang memberikan extra score</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

