<section id="j-home-koleksi" class="j-home-koleksi j-page-header p-relative">
  <!-- inner -->
  <div class="j-inner-3 j-inner-header">
    <div class="j-content">
      <!-- view video | image -->
      <div class="j-hk-view" j-direction="modal-show" j-target-id="modal-show" j-type="embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3h89wlUQ0SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!-- robot -->
  <img src="../../../assets/img/home-robot-koleksi.png" class="j-hk-img-1">

  <!-- produk -->
  <img src="../../../assets/img/home-produk.png" class="j-hk-img-2">

  <!-- koleksi -->
  <img src="../../../assets/img/home-koleksi.png" class="j-hk-img-3">

  <!-- mekanis -->
  <img src="../../../assets/img/home-mekanis.png" class="j-hk-img-4 j-auto">
</section>
