<section id="j-home-win" class="j-home-win j-section-padding p-relative">
  <div class="j-inner-3">
    <!-- content -->
    <div class="j-content-2">
      <!-- box -->
      <div class="j-hw-box">
        <!-- logo -->
        <div class="j-hw-box-logo">
          <img src="../../../assets/img/logo.png" class="j-auto">
        </div>

        <!-- title -->
        <div class="j-title j-type-2">
          <h1 class="j-title-page text-center text-yellow">
            LEADERBOARD
          </h1>
        </div>

        <!-- slider -->
        <div class="j-hw-box-content">
          <!-- slider: head -->
          <div class="j-hw-box-head"></div>

          <!-- slider: body -->
          <div class="j-hw-box-body" j-slider="type-2">
            <!-- slider: bulanan -->
            <div>
              <div j-slider="type-3">
                <!-- item -->
                <div>
                  <div class="j-hw-box-table">
                    <table class="j-table">
                      <thead>
                        <tr>
                          <td>RANK</td>
                          <td>NAME</td>
                          <td>SCORE</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- item -->
                <div>
                  <div class="j-hw-box-table">
                    <table class="j-table">
                      <thead>
                        <tr>
                          <td>RANK</td>
                          <td>NAME</td>
                          <td>SCORE</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- item -->
                <div>
                  <div class="j-hw-box-table">
                    <table class="j-table">
                      <thead>
                        <tr>
                          <td>RANK</td>
                          <td>NAME</td>
                          <td>SCORE</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>USERBOT</td>
                          <td>2000000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- slider: periode -->
              <div class="j-hw-box-bulanan-dots"></div>
            </div>

            <!-- slider: grand prize -->
            <div class="j-hw-box-table">
              <table class="j-table">
                <thead>
                  <tr>
                    <td>RANK</td>
                    <td>NAME</td>
                    <td>SCORE</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>USERBOT</td>
                    <td>SCORE</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>USERBOT</td>
                    <td>SCORE</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>USERBOT</td>
                    <td>SCORE</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>USERBOT</td>
                    <td>SCORE</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>USERBOT</td>
                    <td>SCORE</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- robot 1 -->
  <img src="../../../assets/img/home-win-robot-1.png" class="j-hw-image-1 j-fade">

  <!-- robot 2 -->
  <img src="../../../assets/img/home-win-robot-2.png" class="j-hw-image-2 j-fade-2">
</section>

